@model MovieList



<div class="jumbotron">
   ListMovie => @Model.MovieTotal </a>
</div>> class=</div>

<div class="row product-list">

    @foreach (MovieItem item in Model.GetMovieItems)
    {

        <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box">
                    @if (item.ImagePath.Contains("nightlife"))
                    {
                        <img src="/images/TheWarrior.jpg" />
                    }
                    else
                    {
                        <img src="@item.ImagePath" alt="" />
                    }

                    <a asp-action="DeleteFromCart" asp-route-id="@item.ID" class="adtocart">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>


                   
                </div>

                <div class="panel-body text-center">
                    
                   
                    <a asp-action="RemoveMovieList" asp-route-id="@item.ID" class="adtocart">
                        <i class="glyphicon glyphicon-minus"></i>
                    </a>
                </div>
            </section>
        </div>
    }



</div>