@model List<MovieVM>

<div class="container">
    <h2>Search Results</h2>
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-4">
                        <a href="@Url.Action("MovieDetails", "Member", new { id = movie.ID })">
                            <img src="@movie.ImagePath" class="card-img-top" alt="@movie.MovieName">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@movie.MovieName</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No movies found.</p>
    }
</div>

<style>
    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }
</style>