@model GenreRequestPageVM

<h3>Press for Get Genres <a asp-controller="Genre" asp-action="Index">Press</a></h3>
<link href="/OuterTools/css/bootstrap.min.css" rel="stylesheet">
<form asp-controller="Genre" asp-action="CreateGenre" method="post" class="form">


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Genre Name</label>
        <input asp-for="Genre.GenreName" class="form-control">
    </div>

    <button class="btn btn-primary">
        Add Genre
    </button>



</form>