@model List<int>
@* <h1>sa</h1> *@
@* <link href="~/OuterTools/css/bootstrap.css" rel="stylesheet" />
<link href="~/Outertools/css/bootstrap.min.css" rel="stylesheet" /> *@


@* <table class="table table-striped table-hover">

    <thead>
        <tr>
            <th> Sections</th>
            <th> Function</th>

        </tr>

    </thead>

    <tr>
        <th> Category </th>
        <th><button asp-controller="Genre" asp-action="Index"> Category Functions </button></th>
    </tr>

</table> *@

